module.exports = {
    hotkeys: {
        enabled: true,
        focus: ["Left Control", "Left Alt", "F"],
        endFocus: ["Left Control", "Left Alt", "D"],
    },
    user: "",
    userName: "",
    discordId: "",
    socket: "ws://[ip]:3000/remote-control/websocket",
    whisper: {
        model: "small",
        phrase_timeout: 3,
        energy_threshold: 500,
    },
    subtitles: "off"
}