@import "clear";

html {
    height: 100%;
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    overflow: hidden;
    height: 100%;
    background-color: transparent;
}
