@import "clear";

html {
    --font: "Bebas Neue";

    height: 100%;
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
}

body {
    overflow: hidden;
    height: 100%;
    background-color: transparent;
}
