@use "flex";

x-feed {
    --left: 0;
    --top: 0.5;
    --width: calc(100vw - 2em - 100%);
    --height: calc(100vh - 2em - 100%);
    --cutout-size: 2rem;
    --size: 0.3;
    --spacing: var(--feed-spacing, 1rem);

    will-change: transform;
    position: fixed;
    top: 1em;
    left: 1em;
    transition: transform 0.5s;
    transform: translate(calc(var(--width) * var(--left)), calc(var(--height) * var(--top)));

    /*.feed {
        --offset: calc(var(--ow) * )
    }*/

    .name {
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        @include flex.row();
        align-items: baseline;
        width: 12rem;
        padding: 0;
        padding-right: 1.6em;
        font-size: 1.5em;
        letter-spacing: 1px;
        color: #fff;
        text-align: right;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
        border-bottom: none;
    }

    feed-container {
        grid-template-columns: minmax(0, 0fr);
        transition: grid-template-columns 1s;
        overflow: hidden;
        display: none;
        --aspect-ratio: 16/9;
        --source-aspect-ratio: 16/9;

        &.show {
            grid-template-columns: minmax(0, 1fr);
            display: grid;
        }
    }

    .feed {
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        position: relative;
        margin: calc(var(--spacing) * 0.5);
        aspect-ratio: var(--aspect-ratio);
        opacity: 0;
        transition:
            transform 0.5s,
            opacity 0.5s;

        &.show {
            //transform: translate(0%, 0);
            opacity: 1;
        }
    }

    .feed {
        height: calc((var(--size) / 100) * (100vh - 2em));
    }

    &[data-orientation="column"] {
        @include flex.column();

        .feed {
            width: calc((var(--size) / 100) * (100vw - 2em));
        }
    }

    &[data-orientation="row"] {
        @include flex.row();

        .feed {
            height: calc((var(--size) / 100) * (100vh - 2em));
        }
    }

    &[data-mode="edges"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "tl tr" "bl br";
        width: calc(100% - 2em);
        height: calc(100% - 2em);

        @mixin place($edge) {
            grid-area: $edge;
            @if ($edge == "tl") {
                place-self: start start;
            }
            @if ($edge == "tr") {
                place-self: start end;
            }
            @if ($edge == "br") {
                place-self: end end;
            }
            @if ($edge == "bl") {
                place-self: end start;
            }
        }

        &[data-edge="edges-tl"] {
            feed-container {
                &:nth-child(1) {
                    @include place(tl);
                }
                &:nth-child(2) {
                    @include place(tr);
                }
                &:nth-child(3) {
                    @include place(bl);
                }
            }
        }
        &[data-edge="edges-tr"] {
            feed-container {
                &:nth-child(1) {
                    @include place(tr);
                }
                &:nth-child(2) {
                    @include place(tl);
                }
                &:nth-child(3) {
                    @include place(br);
                }
            }
        }
        &[data-edge="edges-bl"] {
            feed-container {
                &:nth-child(1) {
                    @include place(bl);
                }
                &:nth-child(2) {
                    @include place(tl);
                }
                &:nth-child(3) {
                    @include place(br);
                }
            }
        }
        &[data-edge="edges-br"] {
            feed-container {
                &:nth-child(1) {
                    @include place(br);
                }
                &:nth-child(2) {
                    @include place(tr);
                }
                &:nth-child(3) {
                    @include place(bl);
                }
            }
        }
    }

    .video {
        height: 100%;
    }

    .video-container {
        display: grid;
        overflow: hidden;
        grid-template-columns: minmax(0, 1fr);
        height: 100%;
        clip-path: polygon(7em 0, 100% 0, 100% 100%, 0 100%, 0 100%, 0 var(--cutout-size), 5em var(--cutout-size));

        iframe {
            aspect-ratio: var(--source-aspect-ratio);
            place-self: center;
            height: 100%;
            width: auto;
        }
    }

    .volume-indicator {
        display: none;
        position: absolute;
        --size: 2em;
        right: 1em;
        top: 1em;
        width: var(--size);
        height: var(--size);

        &:before,
        &:after {
            content: " ";
            position: absolute;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            transform: scale(calc(var(--loudness) * 0.01));
            transition: transform 0.1s;
            background: white;
            border-radius: 1000px;
        }

        &:before {
            background: #fff7;
            transform: scale(calc(var(--smoothed-loudness) * 0.01));
        }
    }
}
