@use "flex";

friends-module {
    --anchor: "end start";

    display: grid;
    width: 100%;
    height: 100%;
    padding: 1em;
}

@keyframes animate-person {
    0% {
        transform: scale(100%);
    }
    20% {
        transform: scale(120%);
    }
    100% {
        transform: scale(100%);
    }
}

x-friend {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    height: 3em;
    --background-fill: #111;
    --dark-border: #32a8a8;
    --light-border: #45f1f0;
    --stroke-width: 1;

    &:not(.visible) {
        display: none;
    }

    &.speaking {
        --background-fill: #009688;
        --dark-border: #001a18;
        /*--background-fill: #6423a9;
        --dark-border: #8948cf;
        --light-border: #a152f6;*/
    }

    .user {
        position: relative;
        display: grid;
        grid-template-columns: 1fr min-content;
        justify-content: space-between;
        align-items: center;
        width: 240px;
        height: 60px;
        font-size: 1.1em;
        color: #fff;
        text-shadow: 1px 1px #000;
        text-transform: uppercase;
        letter-spacing: 1px;
        //background: url("../images/plaque-border.svg") -20px center / cover;
        transition: transform 0.1s;

        svg {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        &.animation {
            animation: animate-person 1s ease-in-out 1;
        }

        .name {
            grid-row: 1 / 2;
            grid-column: 1/2;
            display: block;
            text-align: center;
            margin-left: 43px;
            text-align: center;
            place-self: center center;
        }

        .count {
            grid-row: 1 / 2;
            grid-column: 2/3;
            @include flex.column();
            justify-content: center;
            align-items: center;
            margin-right: 54px;
            width: 2.5em;
            height: 30px;
            padding: 0;
            font-size: 0.8em;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
            background: #fff2;
            clip-path: polygon(15px 0, 100% 0, calc(100% - 16px) 30px, 0 30px);
        }
    }

    .speaker {
        --r: 5px;
        --c: #c829f1;

        position: absolute;
        right: 0;
        bottom: 4px;
        width: 50px;
        height: 39px;
        opacity: 0;
        clip-path: polygon(0 100%, 200px calc(100% - 400px), 100% 100%);
        transition: opacity 0.2s;

        background: radial-gradient(
            circle at 5px 33px,
            var(--c) 0px var(--r),
            transparent calc(var(--r) * 1 + 1px) calc(var(--r) * 2),
            var(--c) calc(var(--r) * 2 + 1px) calc(var(--r) * 3),
            transparent calc(var(--r) * 3 + 1px) calc(var(--r) * 4),
            var(--c) calc(var(--r) * 4 + 1px) calc(var(--r) * 5),
            transparent calc(var(--r) * 5 + 1px) calc(var(--r) * 6)
        );
    }

    &.speaking {
        .speaker {
            opacity: 1;
        }
    }

    .subtitles {
        overflow: hidden;
        min-height: 1em;
        max-height: 2.1em;
        font-size: 0.8em;
        font-family: "Balsamiq Sans";
        line-height: 1.2em;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        opacity: 0;
        transition:
            opacity 0.3s,
            transform 0.3s;
        padding: 3px;
        box-sizing: content-box;

        &.show {
            opacity: 1;
        }
    }
}

.friend-list {
    place-self: var(--anchor);
    --spacing: var(--friend-spacing, 1rem);
    @include flex.column(var(--spacing));
    align-items: start;
    font-size: 1.4em;
    width: 100%;
}
