ticker-module {
    padding: 1em;
    display: block;
    height: 100%;

    .container {
        display: block;
        will-change: transform;
        transform: translate(0px, calc(var(--translate) * 1em));
    }

    .text {
        display: inline;
        padding: 0.2em;
        -webkit-mask-image: linear-gradient(
            90deg,
            #ffff calc(-10% + var(--animation) * 110%),
            #fff0 calc((var(--animation) + 0.1) * 110%)
        );
        color: #fff;
        font-family: "Balsamiq Sans";
        opacity: var(--fade);
        text-shadow: 1px 1px 3px #000;

        span {
            color: #32a8a8;
            font-weight: bold;
        }
    }
}
