.video-shadow {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.video {
    --background-color-1: #8333da;
    --background-color-2: #d4bae8;
    --rotation: 0deg;

    border-radius: 4px;
    border: 0.15em solid transparent;
    background: linear-gradient(
            var(--rotation),
            var(--background-color-1),
            var(--background-color-2),
            var(--background-color-1)
        )
        border-box;
    clip-path: polygon(13em 0, 100% 0, 100% 100%, 0 100%, 0 100%, 0 var(--cutout-size), 11.6em var(--cutout-size));
    overflow: hidden;

    video,
    iframe,
    img {
        width: 100%;
        display: block;
    }

    iframe,
    img {
        aspect-ratio: var(--aspect-ratio);
    }

    img {
        height: 100%;
        object-fit: cover;
    }
}
