@use "mixins";
@use "flex";

.word-of-the-hour {
    &[data-state="show"] {
        .word-container {
            transform: translate(0, 0em) scale(1, 1);
        }
    }
}

.word-of-the-hour {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;

    .word-container {
        place-self: center center;
        @include flex.row(0.3em);
        align-items: center;
        width: 600px;
        height: 100px;
        padding: 0.1em;
        padding-right: 82px;
        padding-left: 130px;
        font-size: 2em;
        color: #fff;
        text-shadow: 1px 1px #000;
        background: url("../images/woth.svg") center / cover;
        transition: transform 1s;
        transform: translate(0, 10em);

        label {
            @include flex.row(0.1em);
            align-items: center;
            text-transform: uppercase;

            span {
                display: block;
                width: min-content;
                font-size: 0.5em;
                line-height: 1em;
                text-align: center;
            }
        }

        .word {
            --size: 54px;

            @include flex.row();
            @include mixins.slanted-background(var(--size));

            flex: 1;
            justify-content: center;
            align-items: center;
            height: var(--size);
            text-transform: uppercase;
            background: #454545;
        }
    }

    &[data-state="show"] {
        .word-container {
            transform: translate(0, 0em) scale(1, 1);
        }
    }
}
