@import "clear";

html {
    --accent-color: #43c7bd;
    --account-highlight: #4de7dc;

    height: 100%;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100%;
    background-color: #777;
    overflow: hidden;
    background: url(https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/493520/ss_9d8761c261598880f5e4eec4975276ff72e4e7d9.jpg);
    background-size: cover;
}

x-app {
    display: block;
}

.word-of-the-hour {
    display: grid;
    gap: 1em;
    grid-template-rows: min-content min-content;
    grid-template-areas: "people" "word";
    position: relative;
    transform: translate(0, 10em);
    transition: transform 1s;
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;

    grid-template-rows: min-content;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "people word spacing";
    align-items: center;

    .word-container {
        grid-area: word;
        display: flex;
        flex-direction: row;
        gap: 0.3em;
        bottom: 0;
        width: min-content;
        padding: 0.1em;
        place-self: center;

        background-color: var(--accent-color);
        border-radius: 0.5em;
        border: 2px solid var(--account-highlight);
        color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

        label {
            display: flex;
            flex-direction: row;
            gap: 0.1em;
            font-size: 2em;
            text-transform: uppercase;
            align-items: center;
            padding: 0.2em 0.2em;
            text-shadow: -1px -1px rgb(44 171 161);

            span {
                display: block;
                width: min-content;
                font-size: 0.5em;
                line-height: 1em;
                text-align: center;
            }
        }

        .word {
            display: flex;
            flex: 1;
            align-items: center;
            background-color: #1b7b74;
            color: #fff;
            padding: 0 2em;
            border-radius: 0.5em;
            text-shadow: 2px 2px rgb(0 0 0 / 28%);
            font-size: 1.5em;
            text-transform: uppercase;
            min-width: 10em;
            justify-content: center;
            border: 2px solid #54dbd1;
        }
    }

    ul {
        grid-area: people;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        //place-content: center;
        font-size: 1.4em;

        li {
            --border-radius: 1000px;
            display: flex;
            flex-direction: row;
            color: #fff;
            border-radius: var(--border-radius);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            transition: transform 0.1s;
            border: 2px solid var(--account-highlight);
            background-color: var(--accent-color);

            @keyframes animate-person {
                0% {
                    transform: scale(100%);
                }
                20% {
                    transform: scale(120%);
                }
                100% {
                    transform: scale(100%);
                }
            }

            &.animation {
                animation: animate-person 1s ease-in-out 1;
            }

            .name {
                display: block;
                padding: 0.3em 0.8em;
                text-shadow: -1px -1px rgb(44 171 161);
                padding-right: 0.5em;
            }

            .count {
                display: flex;
                align-items: center;
                background: #1b7b74;
                border-left: none;
                padding: 0em 0.5em;
                border-radius: var(--border-radius);
                font-size: 1.2em;
                width: 2em;
                justify-content: center;
            }
        }
    }

    &[data-state="show"] {
        transform: translate(0, 0em);
    }
}

@property --rotation {
    syntax: "<angle>";
    inherits: false;
    initial-value: 10deg;
}

@keyframes border {
    from {
        --rotation: 0deg;
    }
    to {
        --rotation: 360deg;
    }
}

.webcam {
    position: absolute;
    /*right: 1em;
    bottom: 1em;*/
    --left: 0;
    --top: 0;
    left: 1em;
    top: 1em;
    --width: calc(100vw - 2em - 100%);
    --height: calc(100vh - 2em - 100%);
    transform: translate(calc(var(--width) * var(--left)), calc(var(--height) * var(--top)));
    transition: transform 1s;
    will-change: transform;
    container-name: webcam;
    container-type: inline-size;
    width: 400px;
    --cutout-size: 2.5rem;

    button {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 100;
    }

    .time {
        /*position: absolute;
        left: -0.8em;
        top: -0.7em;
        background: #71499b;
        color: #fff;
        padding: 0.2em 0.6em;
        font-size: 1.9em;
        border-radius: 100px;
        z-index: 100;
        border: 2px solid #cc9bff;
        box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.2);
        width: 6.5em;
        text-align: right;
        padding-left: 0;
        font-family: monospace;
        font-weight: bold;*/

        position: absolute;
        left: 0;
        top: 0.3rem;
        color: #fff;
        padding: 0;
        font-size: 1.3em;
        z-index: 100;
        width: 12rem;
        text-align: right;
        padding-right: 1.6em;
        font-family: "Rubik Mono One", monospace;
        border-bottom: none;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
        letter-spacing: -1px;
        align-items: baseline;
        display: flex;
        flex-direction: row;

        span:nth-child(2) {
            font-size: 0.7em;
        }
    }

    .video-shadow {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    }

    .video {
        --rotation: 0deg;
        border-radius: 0.4em;
        border: 0.15em solid transparent;
        animation: border 10s linear infinite;
        background: linear-gradient(var(--rotation), #8333da, #d4bae8, #8333da) border-box;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        clip-path: polygon(12em 0, 100% 0, 100% 100%, 0 100%, 0 100%, 0 var(--cutout-size), 10em var(--cutout-size));
        overflow: hidden;

        video,
        iframe {
            width: 100%;
            clip-path: polygon(
                12em 0,
                100% 0,
                100% 100%,
                0 100%,
                0 100%,
                0 var(--cutout-size),
                10em var(--cutout-size)
            );
            display: block;
            /*--rotation: 0deg;
            width: 400px;
            border-radius: 0.4em;
            border: 0.15em solid transparent;
            animation: border 10s linear infinite;
            background: linear-gradient(var(--rotation), #8333da, #d4bae8, #8333da) border-box;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);*/
        }

        iframe {
            aspect-ratio: 16 / 9;
        }
    }

    .weigh-in {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        font-size: 6cqw;
        font-weight: bold;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        -webkit-text-stroke: 1.5cqw var(--accent-color);
        paint-order: stroke fill;

        .numbers {
            display: flex;
            flex-direction: row;

            span {
                display: block;
                background-image: url("../images/weigh-in-small.png");
                background-position: calc((var(--number) - 1) * -8cqw - 1cqw) 0%;
                width: 6cqw;
                display: block;
                height: 8cqw;
                background-size: cover;
            }
        }
    }
}
