<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='<%= style %>'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>

<body class="theme-lethal-company" data-socket-url="<%= socketUrl %>">
	<x-app>
		<section class="friends">
			<x-feed class="feed-container"></x-feed>
			<ul class="friend-list"></ul>
		</section>
		<section class="word-of-the-hour">
			<div class="word-container">
				<label>Word <span>Of The</span> Hour</label>
				<span class="word"></span>
			</div>
		</section>
		<% if (showWebcam) { %>
		<x-webcam class="webcam">
			<div class="time"><span>0:00</span><span>am</span></div>
			<div class="video-shadow">
				<div class="video">
					<% if (webcam) { %>
					<video id="video">Video stream not available.</video>
					<% } else { %>
					<iframe src="<%= vdoNinjaUrl %>"></iframe>
					<% } %>
				</div>
			</div>
			<div class="weigh-in">
				<span>Weekly</span>
				<span class="numbers"><span style="--number:1"></span><span style="--number:8"></span><span style="--number:4"></span></span>
				<span>Weigh-In</span>
			</div>
			<% if (webcam) { %>
			<button>Start webcam</button>
			<% } %>
		</x-webcam>
		<% } %>
		<div class="connection-status">
			<div class="connected">Connected</div>
			<div class="disconnected">Not Connected</div>
		</div>
	</x-app>
	<script src='<%= scripts %>'></script>

</body>

</html>