<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='<%= style %>'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>

<body data-socket-url="<%= socketUrl %>">
	<main>
		<x-dashboard>
			<fieldset>
				<legend>Webcam</legend>
				<h2>Position</h2>
				<ul class="webcam-positions">
					<li><button data-action="setWebcamPosition" value="0,0">↖</button></li>
					<li><button data-action="setWebcamPosition" value="0.5,0">↑</button></li>
					<li><button data-action="setWebcamPosition" value="1,0">↗</button></li>
					<li><button data-action="setWebcamPosition" value="0,0.5">←</button></li>
					<li><button data-action="setWebcamPosition" value="0.5,0.5">·</button></li>
					<li><button data-action="setWebcamPosition" value="1,0.5">→</button></li>
					<li><button data-action="setWebcamPosition" value="0,1">↙</button></li>
					<li><button data-action="setWebcamPosition" value="0.5,1">↓</button></li>
					<li><button data-action="setWebcamPosition" value="1,1">↘</button></li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>Feeds</legend>
				<label>
					Slideshow Frequency
					<input type="text" id="slideshowFrequency" />
				</label>
				<label>
					Feed Size (%)
					<input type="range" min="0" max="100" value="30" step="10" id="feedSize" />
				</label>
				<ul class="webcam-positions">
					<li><button data-action="setFeedPosition" value="0,0">↖</button></li>
					<li><button data-action="setFeedPosition" value="0.5,0">↑</button></li>
					<li><button data-action="setFeedPosition" value="1,0">↗</button></li>
					<li><button data-action="setFeedPosition" value="0,0.5">←</button></li>
					<li><button data-action="setFeedPosition" value="0.5,0.5">·</button></li>
					<li><button data-action="setFeedPosition" value="1,0.5">→</button></li>
					<li><button data-action="setFeedPosition" value="0,1">↙</button></li>
					<li><button data-action="setFeedPosition" value="0.5,1">↓</button></li>
					<li><button data-action="setFeedPosition" value="1,1">↘</button></li>
				</ul>
			</fieldset>
		</x-dashboard>
	</main>
	<script src='<%= scripts %>'></script>
</body>

</html>