<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='<%= style %>'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>

<body data-socket-url="<%= socketUrl %>">
	<main>
		<x-dashboard>
			<div class="panels">
				<section id="mippy" data-config="<%= mippyPluginConfig %>">
					<h1>Mippy</h1>
					<button class="button" id="sayGoodbye">Say Goodbye</button>
					<label><span>Is Live</span><input id="isLive" type="checkbox"></label>
				</section>

				<div class="plugin-config"></div>

				<section>
					<h1>Feeds</h1>
					<label>
						Slideshow Frequency
						<input type="number" id="slideshowFrequency" />
					</label>
					<label>
						Feed Count
						<input type="number" id="feedCount" />
					</label>
					<label>
						Feed Size (%)
						<input type="range" min="0" max="100" value="30" step="2" id="feedSize" />
					</label>
					<label>
						Feed Layout
						<select id="feedLayout">
							<option value="row">Row</option>
							<option value="column">Column</option>
							<option value="edges-tl">Corners ↖</option>
							<option value="edges-tr">Corners ↗</option>
							<option value="edges-br">Corners ↙</option>
							<option value="edges-bl">Corners ↘</option>
						</select>
					</label>
					<ul class="webcam-positions">
						<li><button data-action="setFeedPosition" value="0,0">↖</button></li>
						<li><button data-action="setFeedPosition" value="0.5,0">↑</button></li>
						<li><button data-action="setFeedPosition" value="1,0">↗</button></li>
						<li><button data-action="setFeedPosition" value="0,0.5">←</button></li>
						<li><button data-action="setFeedPosition" value="0.5,0.5">·</button></li>
						<li><button data-action="setFeedPosition" value="1,0.5">→</button></li>
						<li><button data-action="setFeedPosition" value="0,1">↙</button></li>
						<li><button data-action="setFeedPosition" value="0.5,1">↓</button></li>
						<li><button data-action="setFeedPosition" value="1,1">↘</button></li>
					</ul>
				</section>
			</div>
		</x-dashboard>
	</main>
	<script src='<%= scripts %>'></script>
</body>

</html>