<word-of-the-hour-module class="word-of-the-hour">
	<div class="word-container">
		<label>Word <span>Of The</span> Hour</label>
		<span class="word" data-element="word"></span>
	</div>
</word-of-the-hour-module>