<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='<%= style %>'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>

<body>
	<main>
		<div class="server-connection-status"></div>

		<div class="panels">
			<section>
				<h1>Feed</h1>
				<label>Active <input type="checkbox" id="feedActive" data-config="feedActive" /></label>
				<label>URL <input type="text" id="feedUrl" /></label>
				<label>Aspect Ratio <input text="text" id="feedAspectRatio" value="16/9" /></label>
				<label>Source Aspect Ratio <input text="text" id="feedSourceAspectRatio" value="16/9" /></label>
				<button class="button" id="updateFeedButton">Update Feed</button>
			</section>
			<section>
				<h1>Subtitles</h1>
				<label>Enabled <input type="checkbox" id="subtitlesEnabled" data-config="subtitlesEnabled" /></label>
			</section>
		</div>

		<div class="connection-status">
			<div class="connected">Connected</div>
			<div class="disconnected">Not Connected</div>
		</div>
	</main>
	<script src='<%= scripts %>'></script>
</body>